<%= form_tag(users_search_path, :method => 'get') do %>
    <%= text_field_tag :search, params[:search], class: "form-control", id: "search_area", placeholder: "気になるキーワードを入力", size: "40x40" %>
    <button type="submit" id="sbtn_submit"><i class="fas fa-search"></i></button>
<% end %>