/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
body {
	background-color: #f5f5f5;
}
ol {
  list-style: none;
}
li {
  list-style: none;
}
//ヘッダータイトル
.head_title {
	padding: 1% 1%;
}
//ヘッダーナブ全体
.head_nav {
	display: flex;
	margin-left: 70%;
}
//ヘッダーナブリスト
.head_nav_list {
	margin-right: 5%;
}