/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
body {
	background-color: #f5f5f5;
}
ol {
  list-style: none;
}
li {
  list-style: none;
}
.row {
	margin: 50px 0px;
}
//ヘッダー下線
.navbar-inverse {
	border-bottom: 1px solid #c0c0c0;
	height: 119px;
}
//ヘッダータイトル
.head_title {
	width: 13%;
    position: absolute;
    top: 6%;
}
//ヘッダーナブ全体
.head_nav {
    display: flex;
    position: absolute;
    right: 24%;
    top: 5%;
}
//ヘッダー「サンプル掲示板」
.btn-sticky {
  display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #f7f7f7;
    border-left: solid 6px #ff7c5c;
    color: #ff7c5c;
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    margin-top: 3%;
    width: 14%;
}
.btn-sticky:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}
//ヘッダーナブリスト
.head_nav_list {
    width: 119px;
}
//ヘッダー「マイページ」
.head_nav_list_mypage {
	margin-right: 20px;
}
//ヘッダー「投稿一覧」
.head_nav_list_post_index {
	margin-right: 20px;
}
//ヘッダー「ログアウト」
.head_nav_list_logout {
	margin-right: 20px;
}
//ヘッダー「投稿」
.head_nav_list_new_post {
	margin-right: 20px;
}
//ヘッダー「新規登録」
.head_nav_list_signup {
	width: 119px;
	margin-right: 20px;
}
//フッター
footer {
	height: 200px;
    color: white;
}
footer > h3 {
	line-height: 200px;
}




















