<!-- エラーメッセージ ------------------------------------------------------------------>
<% if model.errors.any? %>
  <div class="alerts alert_warning">
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </ul>
  </div>
<% end %>